body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --text-small-regular: Poppins;

  /* font sizes */
  --text-small-regular-size: 15px;

  /* Colors */
  --neutral-300: #cbd5e1;
  --color-aliceblue: rgba(241, 245, 249, 0.4);
  --neutral-900: #0f172a;
}
